/* CSS Variables */

:root {
    --primary: #ddd;
    --dark: #333;
    --light: #fff;
    --shadow: 0 1px 5px rgb(104, 104, 104, 0.8);
  }
  
  html {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--dark);
  }
  
  body {
    background-color: var(--dark);
    margin: 30px 50px;
    line-height: 1.4;
  }
  
  .btn {
    color: var(--light);
    background: var(--dark);
    padding: 0.6rem 1.3rem;
    text-decoration: none;
    border: 0;
  }
  
  .container {
    display: grid;
    grid-gap: 20px;
  }
  /* Top Conyainer */
  
  .top-container {
    display: grid;
    grid-gap: 20px;
  }
  
  .logo > img {
    object-fit: cover;
    width: 100%;
    max-height: 100%;
  }
  
  .info {
    background: var(--primary);
    box-shadow: var(--shadow);
    display: grid;
    grid-gap: 30px;
    /* grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); */
    padding: 3rem;
  }
  
  input[type=text], select, textarea {
    color: #ccc;
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }
  
  input[type=number], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }
  
  input[type=tel], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }
  
  input[type=submit] {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: #45a049;
  }
  
  a {
      text-decoration: none;
      background-color: #D3D3D3;
  }
  
  a:hover {
      color: #50C878;
  }
  
  h1, h2, h3 {
      color: #04AA6D;
  }
  
  footer {
    margin-top: 2rem;
    background: var(--primary);
    color: var(--dark);
    text-align: center;
    padding: 1rem;
  }
  
  /* Media Queries */
  @media (max-width: 700px) {
    .top-container {
      grid-template-areas:
        "showcase showcase"
        "top-box-a top-box-b";
    }
  
    .showcase h1 {
      font-size: 2.5rem;
    }
  
    .main-nav ul {
      grid-template-columns: 1fr;
    }
  
    .info {
      grid-template-columns: 1fr;
    }
  
    .btn {
      display: block;
      text-align: center;
      margin: auto;
    }
  }
  
  @media(max-width: 500px) {
      .top-container {
          grid-template-areas:
            'showcase'
            'top-box-a' 
            'top-box-b';
        }
  }